.cta{
    margin-top: 10rem;
    text-align: center;
}
h2{
    font: normal normal bold 38px/33px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.text {
    margin: auto;
    font-size: 31px;
    font-weight: 300;
    color: #707070;
    margin: 30px 0;
}

.btn{
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 30px;
    color: #FFB027;
    text-align: center;
    margin: 2rem;
    padding: 30px 60px;
    background: linear-gradient(#1A1D21,#262627);
    box-shadow: -20px -20px 68px #272525,
                -20px 10px 68px #4d4747;
    border-radius: 253px;
}